<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
<title>{{ htmlWebpackPlugin.options.data.meta.title }}</title>
<meta name="description" content="{{ htmlWebpackPlugin.options.data.meta.description }}"/>
<meta property="og:title" content="{{ htmlWebpackPlugin.options.data.meta.title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ htmlWebpackPlugin.options.data.meta.url }}"/>
<meta property="og:image" content="{{ htmlWebpackPlugin.options.data.meta.image }}"/>
<meta property="og:description" content="{{ htmlWebpackPlugin.options.data.meta.description }}"/>
<meta property="fb:app_id" content="{{ htmlWebpackPlugin.options.data.meta.fbid }}"/>